Repository getbouncer/apidocs, changes with the owners that CODEOWNERS names for each.
All owners: @awushensky, @xsl, @kingst, @jaimejiypark

CODEOWNERS:

# Default owners
* @awushensky @xsl @kingst @jaimejiypark

# Android owners
/android/ @awushensky @xsl @kingst

# iOS owners
/ios/ @kingst @jaimejiypark

# server owners
/server/ @awushensky @xsl

Remove project files
  .gitignore
  .idea/.gitignore
  .idea/apidocs.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

Add readme
  README.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

Update card_verify_ios_integration.md
  ios/card_verify_ios_integration.md
Owners: @kingst, @jaimejiypark

Update card_verify_ios_integration.md (#30)
  ios/card_verify_ios_integration.md
Owners: @kingst, @jaimejiypark

Added ios liveness check developer preview
  ios/liveness_ios_integration.md
Owners: @kingst, @jaimejiypark

Update README.md
  README.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

Update android readmes
  android/card_scan_android_integration.md
  android/card_verify_android_integration.md
  android/liveness_android_integration.md
Owners: @awushensky, @xsl, @kingst

Update liveness_ios_integration.md
  ios/liveness_ios_integration.md
Owners: @kingst, @jaimejiypark

secure counting
  server/secure_counting.md
  server/secure_counting_figs/certificates.png
  server/secure_counting_figs/download.png
  server/secure_counting_figs/key_details.png
  server/secure_counting_figs/register.png
  server/secure_counting_ios.md
  server/secure_counting_rest.md
Owners: @awushensky, @xsl

Update secure_counting_ios.md
  server/secure_counting_ios.md
Owners: @awushensky, @xsl

Update secure_counting_rest.md
  server/secure_counting_rest.md
Owners: @awushensky, @xsl

Update secure_counting_rest.md
  server/secure_counting_rest.md
Owners: @awushensky, @xsl

Update secure_counting_rest.md
  server/secure_counting_rest.md
Owners: @awushensky, @xsl

Update secure_counting_rest.md
  server/secure_counting_rest.md
Owners: @awushensky, @xsl

Update README.md
  README.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

Update README.md
  README.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

Update secure_counting_rest.md
  server/secure_counting_rest.md
Owners: @awushensky, @xsl

Update README.md
  README.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

Update card_verify_ios_integration.md
  ios/card_verify_ios_integration.md
Owners: @kingst, @jaimejiypark

Update card_verify_ios_integration.md (#31)
  ios/card_verify_ios_integration.md
Owners: @kingst, @jaimejiypark

Update liveness_ios_integration.md
  ios/liveness_ios_integration.md
Owners: @kingst, @jaimejiypark

Added whitepaper
  server/secure_counting.md
  server/secure_counting_whitepaper.pdf
Owners: @awushensky, @xsl

GitBook: [master] 17 pages and 3 assets modified
  README.md
  SUMMARY.md
  bouncer-labs/id-verification-for-ios.md
  bouncer-labs/secure-counting-for-ios/README.md
  bouncer-labs/secure-counting-for-ios/secure-counting-for-ios.md
  bouncer-labs/secure-counting-for-ios/untitled.md
  card-scan/android-integration-guid.md
  card-scan/introduction.md
  card-scan/ios-integration-guide.md
  card-scan/react-native-integration-guide.md
  card-verify/android-integration-guide.md
  card-verify/get-started.md
  card-verify/ios-integration-guide.md
  card-verify/rest-apis.md
  liveness-check/android-integration-guide.md
  liveness-check/ios-integration-guide.md
  liveness-check/rest-apis.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] 2 pages modified
  bouncer-labs/secure-counting-for-ios/secure-counting-for-ios.md
  bouncer-labs/secure-counting-for-ios/untitled.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page modified
  bouncer-labs/secure-counting-for-ios/untitled.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page and 4 assets modified
  .gitbook/assets/certificates.png
  .gitbook/assets/download.png
  .gitbook/assets/key_details.png
  .gitbook/assets/register.png
  bouncer-labs/secure-counting-for-ios/secure-counting-for-ios.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page modified
  liveness-check/android-integration-guide.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

Clean up old docs
  android/card_scan_android_integration.md
  android/card_scan_react_native_integration.md
  android/card_verify_android_integration.md
  android/liveness_android_integration.md
  ios/card_scan_ios_react.md
  ios/card_verify_ios_integration.md
  ios/drivers_license_verify_integration_spec.md
  ios/liveness_ios_integration.md
  server/secure_counting.md
  server/secure_counting_figs/certificates.png
  server/secure_counting_figs/download.png
  server/secure_counting_figs/key_details.png
  server/secure_counting_figs/register.png
  server/secure_counting_ios.md
  server/secure_counting_rest.md
  server/secure_counting_whitepaper.pdf
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page modified
  card-scan/ios-integration-guide.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page modified
  card-verify/ios-integration-guide.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page modified
  liveness-check/ios-integration-guide.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page modified
  bouncer-labs/id-verification-for-ios.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page modified
  bouncer-labs/secure-counting-for-ios/secure-counting-for-ios.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page modified
  bouncer-labs/secure-counting-for-ios/untitled.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page modified
  bouncer-labs/secure-counting-for-ios/untitled.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] 18 pages modified
  SUMMARY.md
  bouncer-labs/secure-counting-for-ios/untitled.md
  card-scan/android-integration-guide.md
  card-scan/introduction.md
  card-verify-server/v1-card-verify.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] 19 pages modified
  SUMMARY.md
  card-verify-server/v1-card-verify.md
  card-verify-server/validating-a-card-verify-token.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] 21 pages and one asset modified
  .gitbook/assets/screen-shot-2020-06-25-at-2.19.10-pm.png
  SUMMARY.md
  card-verify/get-started.md
  card-verify/rest-apis/README.md
  card-verify/rest-apis/v1-card-verify.md
  card-verify/rest-apis/validating-a-card-verify-token.md
  liveness-check/rest-apis/README.md
  liveness-check/rest-apis/validating-a-liveness-check-token.md
  liveness-check/rest-apis/verifying-a-liveness-check-payload.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] 5 pages modified
  SUMMARY.md
  bouncer-labs/id-verification-for-ios.md
  card-verify/ios-integration-guide/README.md
  card-verify/ios-integration-guide/customizing-the-verify-ui-and-ux.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark

GitBook: [master] one page modified
  card-verify/get-started.md
Owners: @awushensky, @xsl, @kingst, @jaimejiypark
